In [365]:
import pandas as pd

# Load in house sales data

In [477]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [478]:
train = pd.read_csv("data/kc_house_train_data.csv", sep=",", dtype=dtype_dict)

In [479]:
test = pd.read_csv("data/kc_house_test_data.csv", sep=",", dtype=dtype_dict)

In [480]:
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [481]:
test.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4224,8672200110,20150317T000000,1088000.0,5.0,3.75,4170.0,8142,2,0,2,...,10,4170,0,2006,0,98056,47.5354,-122.181,3030.0,7980.0
4225,5087900040,20141017T000000,350000.0,4.0,2.75,2500.0,5995,2,0,0,...,8,2500,0,2008,0,98042,47.3749,-122.107,2530.0,5988.0
4226,3448900210,20141014T000000,610685.0,4.0,2.50,2520.0,6023,2,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520.0,6023.0
4227,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813,2,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830.0,7200.0
4228,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350,2,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020.0,2007.0

In [482]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17384 entries, 0 to 17383
Data columns (total 21 columns):
id               17384 non-null object
date             17384 non-null object
price            17384 non-null float64
bedrooms         17384 non-null float64
bathrooms        17384 non-null float64
sqft_living      17384 non-null float64
sqft_lot         17384 non-null int64
floors           17384 non-null object
waterfront       17384 non-null int64
view             17384 non-null int64
condition        17384 non-null int64
grade            17384 non-null int64
sqft_above       17384 non-null int64
sqft_basement    17384 non-null int64
yr_built         17384 non-null int64
yr_renovated     17384 non-null int64
zipcode          17384 non-null object
lat              17384 non-null float64
long             17384 non-null float64
sqft_living15    17384 non-null float64
sqft_lot15       17384 non-null float64
dtypes: float64(8), int64(9), object(4)
memory usage: 2.8+ MB

# Create some new features

1. bedrooms_squared = bedrooms*bedrooms
2. bed_bath_rooms = bedrooms*bathrooms
3. log_sqft_living = log(sqft_living)
4. lat_plus_long = lat + long

In [483]:
train['bedrooms_squared'] = train['bedrooms'] ** 2

In [484]:
test['bedrooms_squared'] = test['bedrooms'] ** 2

In [485]:
train['bedrooms_squared'].head()

0     9.0
1     9.0
2     4.0
3    16.0
4     9.0
Name: bedrooms_squared, dtype: float64

In [486]:
train['bed_bath_rooms'] = train['bedrooms'] * train['bathrooms']

In [487]:
test['bed_bath_rooms'] = test['bedrooms'] * test['bathrooms']

In [488]:
train['bed_bath_rooms'].head()

0     3.00
1     6.75
2     2.00
3    12.00
4     6.00
Name: bed_bath_rooms, dtype: float64

In [489]:
train['log_sqft_living'] = np.log(train['sqft_living'])

In [490]:
test['log_sqft_living'] = np.log(test['sqft_living'])

In [491]:
train['log_sqft_living'].head()

0    7.073270
1    7.851661
2    6.646391
3    7.580700
4    7.426549
Name: log_sqft_living, dtype: float64

In [492]:
train['lat_plus_long'] = train['lat'] + train['long']

In [493]:
test['lat_plus_long'] = test['lat'] + test['long']

In [494]:
train['lat_plus_long'].head()

0   -74.7458
1   -74.5980
2   -74.4951
3   -74.8722
4   -74.4282
Name: lat_plus_long, dtype: float64

In [495]:
cols=['bedrooms_squared','bed_bath_rooms','log_sqft_living','lat_plus_long']

In [496]:
test[['bedrooms_squared','bed_bath_rooms','log_sqft_living','lat_plus_long']].head()

   bedrooms_squared  bed_bath_rooms  log_sqft_living  lat_plus_long
0               9.0             3.0         7.265430       -74.4732
1              16.0            12.0         7.989560       -74.8036
2               9.0             6.0         7.444249       -74.9132
3               9.0             7.5         7.749322       -74.5309
4               9.0             3.0         6.993933       -74.6861

In [497]:
train_mean = np.mean(train[['bedrooms_squared','bed_bath_rooms','log_sqft_living','lat_plus_long']])

In [498]:
np.around(train_mean.values,2)

array([ 12.17,   7.5 ,   7.55, -74.65])

## Model 1 . ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’

In [499]:
from sklearn import linear_model

In [500]:
reg = linear_model.LinearRegression()

In [501]:
model1_train = train[['sqft_living','bedrooms','bathrooms','lat','long']]
model1_test = test[['sqft_living','bedrooms','bathrooms','lat','long']]

In [502]:
model1_train.head()

   sqft_living  bedrooms  bathrooms      lat     long
0       1180.0       3.0       1.00  47.5112 -122.257
1       2570.0       3.0       2.25  47.7210 -122.319
2        770.0       2.0       1.00  47.7379 -122.233
3       1960.0       4.0       3.00  47.5208 -122.393
4       1680.0       3.0       2.00  47.6168 -122.045

In [503]:
mlr = linear_model.LinearRegression()

In [504]:
mlr.fit(model1_train, train['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [505]:
mlr.predict(model1_train)

array([ 244657.18811044,  855689.66538486,  318101.67899464, ...,
        528928.42823836,  356549.38348044,  317948.91207276])

In [506]:
# The coefficients
print('Coefficients: \n', mlr.coef_)

('Coefficients: \n', array([  3.12258646e+02,  -5.95865332e+04,   1.57067421e+04,
         6.58619264e+05,  -3.09374351e+05]))

In [507]:
print("Model1 Train RSS: %.2f" % np.sum((mlr.predict(model1_train) - train['price']) ** 2))

Model1 Train RSS: 967879963049551.38

In [508]:
print("Model1 Test RSS: %.2f" % np.sum((mlr.predict(model1_test) - test['price']) ** 2))

Model1 Test RSS: 225500469795490.25

In [509]:
model2_train = train[['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']]
model2_test = test[['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']]

In [510]:
mlr.fit(model2_train, train['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [511]:
# The coefficients
print('Coefficients: \n', mlr.coef_)

('Coefficients: \n', array([  3.06610053e+02,  -1.13446368e+05,  -7.14613083e+04,
         6.54844630e+05,  -2.94298969e+05,   2.55796520e+04]))

In [512]:
print("Model2 Train RSS: %.2f" % np.sum((mlr.predict(model2_train) - train['price']) ** 2))

Model2 Train RSS: 958419635074069.38

In [513]:
print("Model2 Test RSS: %.2f" % np.sum((mlr.predict(model2_test) - test['price']) ** 2))

Model2 Test RSS: 223377462976466.81

In [514]:
model3_train = train[['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared','sqft_living','lat_plus_long']]
model3_test = test[['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared','sqft_living','lat_plus_long']]

In [515]:
mlr.fit(model3_train, train['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [516]:
# The coefficients
print('Coefficients: \n', mlr.coef_)

('Coefficients: \n', array([  1.52232317e+02,  -7.09332416e+04,  -1.04607813e+05,
         5.38618642e+05,  -4.18314482e+05,   3.49707254e+04,
        -8.51311580e+03,   1.52232317e+02,   1.20304160e+05]))

In [517]:
print("Model3 Train RSS: %.2f" % np.sum((mlr.predict(model3_train) - train['price']) ** 2))

Model3 Train RSS: 956727794984299.25

In [518]:
print("Model3 Test RSS: %.2f" % np.sum((mlr.predict(model3_test) - test['price']) ** 2))

Model3 Test RSS: 310074442850643.38

## Train dataset의 잔차는 model3가 가장 좋았다. 
## 그러나 Test dataset의 잔차는 model2가 가장 우수했다. 이 경우 어느 모델을 선택해야하나?